body {
  font-size:                100%;
}

.csmv-outer-frame {
  font-family:              Arial, Helvetica, sans-serif;
  display:                  inline-block;
  margin:                   0.2em;
  padding:                  0.5em;
  background:               lightyellow;
  border:                   1px solid #ddce50;
  border-radius:            0.4em;
}

.csmv-visualization-title {
  font-weight:              bold;
  padding-bottom:           0.75em;
}

.csmv-visualization-description {
  font-size:                0.7em;
  padding-bottom:           0.75em;
  color:                    #706020;
}

.csmv-animation-frame {
  width:                    600px;
  height:                   400px;
  background:               white;
  border:                   1px inset gray;
  border-top-left-radius:   0.2em;
  border-top-right-radius:  0.2em;
  overflow:                 hidden;
  position:                 relative;
}

.csmv-control-frame {
  margin:                   0em;
  border-width:             0em;
  padding:                  0.25em 0em 0em 0em;
}

.csmv-button {
  margin:                   0em 0.25em 0em 0em;
  font-size:                0.75em;
}

.csmv-step-counter {
  display:                  inline-block;
  float:                    right;
  font-size:                0.75em;
  text-align:               right;
  padding-top:              0.25em;
}

.csmv-step-counter-no-steps {
  color:                    gray;
}

.csmv-actor {
  display:                  block;
  overflow:                 hidden;
  position:                 absolute;
  padding:                  0.5em 0em 0em 0em;
}

.csmv-custom-actor {
  padding:                  0em;
}

.csmv-actor-stereotype {
  margin:                   0em 0em 0.25em 0em;
  font-size:                0.75em;
  text-align:               center;
}

.csmv-actor-title {
  margin:                   0em 0em 0.2em 0em;
  font-size:                0.8em;
  font-weight:              bold;
  text-align:               center;
}

.csmv-preset-browser {
  background:               #aaeecc;
  border:                   1px solid #669977;
}

.csmv-preset-browser .csmv-actor-title {
  color:                    #114422;
}

.csmv-preset-server {
  background:               #aaccee;
  border:                   1px solid #667799;
}

.csmv-preset-server .csmv-actor-title {
  color:                    #112244;
}

.csmv-preset-textblock {
  padding:                  0em;
}

.csmv-preset-textblock-title {
  font-size:                0.76em;
  text-align:               left;
}

.csmv-preset-textblock-content {
  font-size:                0.7em;
}

.csmv-debug-border {
  border:                   1px solid red;
}
